# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/

# Build logs
*.log

# DotCover
*.dotCover

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet
*.nupkg
*.snupkg
*.nuspec
packages/
project.lock.json

# Entity Framework
Migrations/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Configuration
appsettings.*.json
secrets.json

# Others
TestResults/
*.vs/
